/*************************************
GENERAL
**************************************/
img {
	width: 100%
	height: auto;
}

p {
	margin-left: 20px;
	margin-right: 20px;
}

body {
	font-family: 'Roboto', Sans-Serif;
	font-size: 16px;
}

h1 {
	text-align: center;
	font-family: 'Lora', Serif;
	font-size: 38px; 
	margin: 10px;
}


/*************************************
Banner
**************************************/
.banner {
	position: relative;
	width: 100%;
}
.container {
	position: relative;
	text-align: center;
	width: 100%;
	padding: 0;
}

.centered {
  	position: absolute;
 	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	color: white;
	background-color: #E70103;
	margin: 20px;
	border-radius: 15px;
}

/*************************************
PAGE
**************************************/
.generalimage {
	float: left;
	width: 10%;
	heigth: auto;
	position: center;
	margin: 20px;
}

.generalimageLarge {
	display: block;
	width: 35%;
	heigth: auto;
	position: center;
	margin-left: auto;
	margin-right: auto;
}
/*************************************
Navigation
**************************************/
.nav {
	overflow: hidden;
	background-color: #7D7D7D;
}

.nav a {
	float: left;
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.nav a:hover {
	background-color: #020202;
	color: white;
}

.nav a.active {
	background-color: #E70103;
	color: white;
}

/*************************************
Footer
**************************************/
.footer {
	position: fixed;
	left: 0;
  	bottom: 0;
  	width: 100%;
  	background-color: #020202;
  	color: white;
	text-align: center;
	padding: 0;
}